<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.myjd.mapper.OrderMapper" >
  <resultMap id="OrderResultMap" type="org.lanqiao.myjd.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="users_id" property="usersId" jdbcType="INTEGER" />
    <result column="order_address" property="orderAddress" jdbcType="VARCHAR" />
    <result column="order_price" property="orderPrice" jdbcType="REAL" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="order_state" property="orderState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, users_id, order_address, order_price, order_date, order_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="OrderResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="getAllOrder" resultMap="OrderResultMap" >
    select * from `order` order by order_id
  </select>
  <select id="getOrderById" resultMap="OrderResultMap" parameterType="java.lang.Integer" >
    select * from `order` where users_id=#{usersId,jdbcType=INTEGER} order by order_id
  </select>
  <delete id="deleteTheOrder" parameterType="java.lang.Integer" >
    delete from `order`
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insertOne" parameterType="org.lanqiao.myjd.entity.Order" >
    insert into `order` (users_id, order_address, order_price
      )
    values (#{usersId,jdbcType=INTEGER}, #{orderAddress,jdbcType=VARCHAR},
      #{orderPrice,jdbcType=REAL}
      )
  </insert>
  <insert id="insert" parameterType="org.lanqiao.myjd.entity.Order" >
    insert into order (order_id, users_id, order_address, 
      order_price, order_date, order_state
      )
    values (#{orderId,jdbcType=INTEGER}, #{usersId,jdbcType=INTEGER}, #{orderAddress,jdbcType=VARCHAR}, 
      #{orderPrice,jdbcType=REAL}, #{orderDate,jdbcType=TIMESTAMP}, #{orderState,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.myjd.entity.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="usersId != null" >
        users_id,
      </if>
      <if test="orderAddress != null" >
        order_address,
      </if>
      <if test="orderPrice != null" >
        order_price,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="usersId != null" >
        #{usersId,jdbcType=INTEGER},
      </if>
      <if test="orderAddress != null" >
        #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderPrice != null" >
        #{orderPrice,jdbcType=REAL},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.myjd.entity.Order" >
    update order
    <set >
      <if test="usersId != null" >
        users_id = #{usersId,jdbcType=INTEGER},
      </if>
      <if test="orderAddress != null" >
        order_address = #{orderAddress,jdbcType=VARCHAR},
      </if>
      <if test="orderPrice != null" >
        order_price = #{orderPrice,jdbcType=REAL},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.myjd.entity.Order" >
    update order
    set users_id = #{usersId,jdbcType=INTEGER},
      order_address = #{orderAddress,jdbcType=VARCHAR},
      order_price = #{orderPrice,jdbcType=REAL},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      order_state = #{orderState,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>