.red {
    color: #F1251b
}

.font14 {
    font-size: 14px
}

.font15 {
    font-size: 15px
}

.font16 {
    font-size: 16px
}

/*menu*/
#menu {
    width: 1232px;
    height: 31px;
    background-color: #E3E4E5;
    color: #999999
}

#menu li {
    line-height: 30px
}

#menu_content {
    width: 990px;
    height: 30px;
    margin: 0px 121px;
}

#m_left li {
    margin-right: 4px
}

#m_right {
    width: 704px;
    height: 30px;
    float: right
}

#m_right .dt {
    width: 62px;
    height: 30px;
    padding: 0 2px;
    text-align: center
}

#m_right .dt1 {
    width: 77px;
    height: 30px;
    padding: 0 2px;
    text-align: center
}

#m_right_first {
    width: 105px
}

#m_right .spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
/**************head**************/
.cart-empty{
    margin: 0 120px;
    padding-top: 100px;
    width: 990px;
    height: 298px;
    display: none;
}
.message {

    height: 98px;
    padding-left: 341px;
    background: url(//misc.360buyimg.com/user/cart/css/i/no-login-icon.png) 250px 22px no-repeat;
}
.message li {
    line-height: 26px;
    margin-right: 200px;
}
.btn-1 {
    font-family: arial, "Microsoft YaHei";
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 25px;
    line-height: 25px;
    background-color: #e74649;
    background-image: -moz-linear-gradient(top, #e74649, #df3134);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e74649), color-stop(1, #df3134));
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74649', endColorstr='#df3134');
    background-image: -webkit-linear-gradient(bottom, #e74649 0, #df3134 100%);
    background-image: linear-gradient(to top, #e74649 0, #df3134 100%);
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    float: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#head{
    width: 990px;
    height: 97px;
    margin: 0 120px;
    padding: 10px 0 0;
}
.hlogo {
    position: relative;
    z-index: 12;
    float: left;
    width: 276px;
    height: 50px;
    margin: 15px 0 22px;
}
.logo2 {
    display: block;
    margin-top: 2px;
    width: 134px;
    height: 42px;
    background: url(//misc.360buyimg.com/jdf/1.0.0/unit/global-header/5.0.0/i/jdlogo-201708-@1x.png) no-repeat 0 0;
    background-size: 134px 42px;
    text-indent: -20000px;
}
.link2 {
         overflow: hidden;
         display: block;
         position: absolute;
         width: 100px;
         height: 40px;
         line-height: 99em;
         top: 14px;
         right: 38px;
         background: #fff;
}
.link2 b {
        display: block;
        position: absolute;
        width: 100px;
        height: 40px;
        line-height: 99em;
        top: 0;
        right: 0;
        background: url(//misc.360buyimg.com/user/cart/widget/header-2017/i/cart-icon.png) #fff no-repeat;
}
#search{
    border: 2px solid red;
    width: 325px;
    height: 28px;
    position: relative;
    margin: 20px 0 0 230px;
    float: right;
}
.text{
    width: 270px ;
    height: 24px;
    color: #6d6d6d;
}
#icon{
    width: 51px;
    height: 27px;
    float: right;
}
.button {
    display: inline-block;
    width: 53px;
    height: 29px;
    background: red;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-top: -1px;
    padding: 0;
    border: 0;
}

/*******************CART-BAR***/
.cart-bar{
    width: 990px;
    height: 37px;
    margin: 0 120px;
}
.cart-num{
    float: left;
    position: relative;
    height: 26px;
    overflow: hidden;
}
.cart-num-li{
    float: left;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0 0 10px;
    margin: 5px 30px 0 0;
}
.address{
    width: 344px;
    height: 26px;
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding-left: 122px;
    font-size: medium;
    float: right;
}
.label{
    float: right;
    line-height: 30px;
}
.option-addresss{
    width: 174px;
    height: 25px;
    float: right;
    line-height: 30px;
}
/**************     cart-main    ***************/
.cart-main{
    width: 990px;
    height: 300px;
    margin: 0 120px;
}
.cart-head{
    display: inline-block;
    width: 990px;
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    position: relative;
}
.column{float: left;}
.t-checkbox{
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}
.cart-checkbox {
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
}
.t-goods{
    width: 208px;
}
.t-space{
    width: 140px;
}
.t-price {
    width: 120px;
    padding-right: 40px;
    text-align: right;
    margin-left: 150px;
}

.t-num {
    width: 80px;
    text-align: center;
    margin-left: 20px;
}

.t-sum {
    width: 100px;
    padding-right: 30px;
    text-align: right;
    margin-left: 10px;
}

.t-action {
    width: 75px;
}
.shop{
    height: 30px;
    line-height: 30px;
    padding-left: 11px;
    font-weight: 700;
}
.shop-list{
    width: 990px;
    height: 158px;
    border-style: solid;
    border-width: 2px 1px 1px;
    border-color: #aaa #f1f1f1 #f1f1f1;
    background: #fff;
}
.shop-head{
    width: 988px;
    height: 36px;
}
.shop-info{
    width: 948px;
    height: 108px;
    margin: 0 21px;
    background-color: #ffd4cb;
}
.full-icon{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #f48719;
    border: 1px solid #f48719;
    color: #fff;
    padding: 1px 10px;
    height: 16px;
    line-height: 16px;
    margin: 0 10px 0 5px;
}
.full-icon2{
    background: #fff;
    color: #f48719;
    border: 1px solid #f48719;
}
.shop-head-link{
    vertical-align: middle;
    margin-left: 2px;
}
.f-price{
    float: right;
    min-width: 100px;
    text-align: right;
    font-family: verdana;
    line-height: 13px;
    color: #333;
    vertical-align: middle;
    margin: 4px 120px 0 0;
}
.p-checkbox {/*checkbox*/
    position: relative;
    left: 10px;
    top: 0;
    width: 30px;
    min-height: 10px;
    float: left;
}
.cart-checkbox {/*checkbox*/
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
}
.cell {/*checkbox*/
    float: left;
    padding: 15px 0 10px;
}
.info{
    width: 300px;
    height: 107px;
}
.shop-img{
    display: block;
    margin: 14px 0;
}
.p-name {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    float: right;
    position: relative;
    margin: -80px 0 0 130px;
    font-size: small;
}
.p-price {
    width: 140px;
    padding-right: 40px;
    text-align: right;
    float: right;
    position: absolute;
    margin:-20px 0 0 450px;
}
.p-price .sales-promotion {
    display: inline-block;
    width: 28px;
    color: rgb(226, 35, 26);
    height: 18px;
    text-align: left;
    line-height: 20px;
    float: right;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(249, 210, 211);
    border-image: initial;
    padding: 0px 15px 0px 5px;
    background: rgb(255, 255, 255);
    text-decoration: none;
    overflow: hidden;
}
.p-price .sales-promotion b {
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 7px;
    height: 4px;
    margin-left: 5px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/cart/css/i/cart-icons-201902.png) -82px -3px;
}
.p-quantity {
    width: 80px;
    float: right;
    position: absolute;
    padding: 15px 0px 10px;
    margin: -20px 0 0 650px;
}
.p-quantity .quantity-form {
    position: relative;
    height: 22px;
    width: 80px;
    overflow: hidden;
}
.p-quantity .itxt {
    position: absolute;
    left: 17px;
    top: 0px;
    width: 42px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: rgb(51, 51, 51);
    -webkit-appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(202, 203, 203);
    padding: 1px;
    margin: 0px;
}
.buttondecre{
    height: 18px;
    line-height: 18px;
    width: 16px;
    text-align: center;
    color: rgb(102, 102, 102);
    border-width: 1px 1px 1px 0px;
    border-style: solid solid solid;
    border-color: rgb(202, 203, 203) rgb(202, 203, 203) rgb(202, 203, 203);
    border-image: initial;
    border-right: 0px;
    padding: 1px 0px;
    margin: 0px;
    background: rgb(255, 255, 255);
    display: block;
}
.buttonincre{
    z-index: 1000;
    margin-top: -22px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    width: 16px;
    float: right;
    color: rgb(102, 102, 102);
    border-width: 1px 1px 1px 0px;
    border-style: solid solid solid;
    border-color: rgb(202, 203, 203) rgb(202, 203, 203) rgb(202, 203, 203);
    border-image: initial;
    border-left: 0px;
    background: rgb(255, 255, 255);
    display: block;
}
.shop-cartId{
    display: none;
}
.p-sum {
    position: absolute;
    margin: -5px 0 10px 740px;
    width: 100px;
    text-align: right;
    float: left;
    /*padding: 15px 0 10px 40px;*/
    z-index: 5;
}
.p-option{
    margin: -10px 0 0 870px;
    width: 75px;
    position: relative;
    padding-top: 5px;
}
.cart-remove{
    margin-top: 10px;
}

.market-icon {
    width: 58px;
    height: 16px;
    background: url(//misc.360buyimg.com/user/cart/css/i/market-icon.png) no-repeat;
    overflow: hidden;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -2px;
}
.shop-type-link{
    font-size: small;
    float: left;
    margin: -40px 0 0 130px;
}
.shop-type-link i {
    display: inline-block;
    width: 17px;
    height: 16px;
    vertical-align: middle;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/cart/css/i/cart-icons-201902.png) no-repeat;
}
.info-txt{
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    margin: -60px 0 0 350px;
}

.cart-checkbox{
    position: relative;
    float: left;
    margin-right: 5px;
}
.checkbox{
    position: relative;
    margin: 2px 3px 0 0;
    vertical-align: middle;
    padding: 0;
    float: none;
}
.shop-text{
    float: left;
    width: 40%;
    font-size: small;
}
.shop-type{
    padding: 0 5px;
    height: 18px;
    line-height: 17px;
    vertical-align: middle;
    background: #da0012;
    overflow: hidden;
    color: #fff;
    border-radius: 2px;
    font-weight: 400;
    display: inline-block;
    max-width: 260px;
}
.shop-coupon{
    position: relative;
    float: right;
    width: 80px;
    height: 24px;
    overflow: hidden;
    margin-right: 450px;
    margin-top: 4px;
    vertical-align: middle;
}
.coupon-link{
    display: block;
    width: 80px;
    height: 24px;
    line-height: 99em;
    background: url(//misc.360buyimg.com/user/cart/css/i/cart-coupon-icons02.png) 0 0 no-repeat;
    overflow: hidden;
}
.shop-fair{
    float: right;
    font-weight: 400;
}
.fair-main{
    position: relative;
    display: inline-block;
    float: right;
}
.fair-span{
    color: #666;
    line-height: 26px;
    height: 26px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 0 10px;
    float: right;
}
.iron-confirm{
    width: 20px;
    height: 30px;
    float: left;
    background: url(//misc.360buyimg.com/user/cart/css/i/icon21.png) 0 5px no-repeat;
}
/*********************      option-box      ************************/
.option-box{
    width: 990px;
    height: 50px;
    margin: 0 120px;
}
.carts-checkbox {
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
    line-height: 50px;

}
.jdcheckbox {
    position: relative;
    float: none;
    vertical-align: middle;
    margin: 0px 3px 0px 0px;
    padding: 0px;
    line-height: 20px;
}
.option-link{
    line-height: 50px;
}
.option-box-right{
    float: right;
    height: 50px;
    width: 650px;
}
.amount-sum{
    width: 100px;
    height: 50px;
    float: left;
    margin-left: 300px;
}
.amount-sum-txt{
    line-height: 50px;
    float: right;
}
.price-sum {
    float: left;
    height: 43px;
    line-height: 20px;
    color: rgb(102, 102, 102);
    width: auto;
    position: relative;
    margin: 7px 5px 0px 30px;
}
.price-sum .txt {
    float: left;
    width: 50px;
    text-align: right;
    color: rgb(153, 153, 153);
}
.price{
    display: inline-block;
    text-align: right;
}
.price em {
    font-size: 16px;
    color: rgb(226, 35, 26);
    font-weight: 700;
}
.price-tips {
    vertical-align: text-bottom;
    display: inline-block;
    height: 18px;
    width: 12px;
    background: url(//misc.360buyimg.com/user/cart/css/i/price-tips.png) 0px 0px no-repeat;
}


.option-box-right b {
    margin-left: 110px;
    float: right;
    display: block;
    position: absolute;
    width: 94px;
    height: 52px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background: url(//misc.360buyimg.com/user/cart/css/i/cart-submit-btn-2018.png) 0px 0px no-repeat;
}
/*******************    cart-smart   ******************/
.cart-smart{
    width: 990px;
    height: 445px;
    margin: 0 120px;
}
.cart-smart h3{
    color: rgb(102, 102, 102);
    text-align: center;
}
.smart-head {
    width: 13px;
    height: 0px;
    position: absolute;
    top: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    border-image: initial;
}
.cart-smart-main .smart-logo {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -2px;
    margin-right: 5px;
    background: url(//misc.360buyimg.com/user/cart/css/i/cart-icons-201902.png) -62px -198px no-repeat;
}
.cart-smart-main{
    width: 990px;
    height: 360px;
    margin-top: 15px;
    border-width: 1px 1px;
    border-style: solid solid none;
    border-color: rgb(229, 229, 229) rgb(229, 229, 229);
    border-image: initial;
    border-top: 2px solid rgb(170, 170, 170);
    border-bottom: none;
}

.item-main{
    width: 988px;
    height: 80px;
    margin: 0 1px;
}
.smart-items{
    width: 988px;
    height: 277px;
    margin: 0 1px;
}
.smart-item{
    width: 210px;
    height: 275px;
    float: left;
    margin:0 18px;
}
.smart-logo {
    width: 18px;
    height: 18px;
    background: url(//misc.360buyimg.com/user/cart/css/i/cart-icons-201902.png) -62px -198px no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    vertical-align: middle;
    top: -2px;
    margin-right: 5px;
}
.item-name {
    height: 36px;
    max-height: 36px;
    overflow-y: hidden;
}
.mb10 {
    margin-bottom: 10px;
}
.cart-smart-cont .smart-items ul li .item-price {
    float: left;
    color: #E2231A;
}
.ftx-07{
    line-height: 20px;
    font-size: medium;
    color: black;
    margin: 0 0 13px 20px;
}
.item-cont{
    margin: 0 60px;
}
.item-price {
    color: #E2231A;
    font-size: 14px;
}
.cart-smart-cont .smart-items ul li .addtocart-btn {
    width: 27px;
    height: 24px;
    background: url(//misc.360buyimg.com/user/cart/css/i/cart-icons-201902.png) -73px -247px no-repeat;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -6px;
    right: 5px;
}
/*******************    list-line    ******************/
.list-line{
    overflow: hidden;
    margin: 0 120px 10px 120px;
}
.extratext,.extratext2{
    color: #6d6d6d;
    font-weight: 700;
    border-color: #E2231A;
    display: inline-block;
    margin-right: 34px;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
    font-size: small;
}
.extratext{color: #E2231A;}
.extratext2 :hover{color: #E2231A;}
/**************        list         **********************/
.list{
    width: 990px;
    height: 305px;
    margin: 0 120px;
}
.item{
    position: relative;
    width: 205px;
    height: 269px;
    padding: 20px;
    background: #fff;
    margin: -1px 0 0 -1px;
    border: 1px dashed #cacaca;
    overflow: hidden;
    float: left;
}
/*.item :hover{*/
/*    border: 1px solid red;*/
/*}*/
.l-img{
    width: 160px;
    margin: 0 auto;
    overflow: hidden;
}
.l-name{
    height: 36px;
    line-height: 18px;
    margin: 5px 0;
    overflow: hidden;
}
.l-price{
    width: 100%;
    margin: 5px 0 2px;
    overflow: hidden;
    text-align: center;
}
.l-btn{
    margin: 10px 0 0;
    text-align: center;
}
.l-btn .a-btn{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border: 1px solid #999;
    color: #666;
    text-align: center;
    border-radius: 3px;
    font-size: small;
}
.l-btn .a-btn:hover{
    background-color: red;
    color: white;
}
.l-btn .a-btn b{
    background-image: url(//misc.360buyimg.com/user/cart/widget/cart-tabs-new/i/addtocart-icons.png);
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 3px;
    background-repeat: no-repeat;
    overflow: hidden;
}