/*头部*/
#header {
    font-size: 14px;
    color: #666666;
    width: 100%;
    height: 110px;
    background: url("../images/register/headbg.jpg") repeat-x left bottom;
}

/*内嵌div*/
#header_inner {
    width: 1200px;
    height: 76px;
    margin: 0 155px;
    font-size: 14px;
}

#chk_logo {
    width: 160px;
    height: 50px;
    float: left;
    margin-top: 24px;
    background-image: url("../images/register/icon.png");
}

.chk_title {
    float: left;
    width: 192px;
    height: 34px;
    color: #333333;
    font-size: 24px;
    margin: 34px 0 0;
}

.havecount {
    float: right;
    width: 145px;
    height: 21px;
    color: #999999;
    font-size: 16px;
    margin-top: 55px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tologin {
    width: 60px;
    height: 19px;
    color: #EE2222;
    text-decoration: none;
}

/*中间部分 */
#chk_main{
    margin: 50px auto 186px;
    width: 400px;
    display: inline;
}
#chk_form{
    width: 400px;
    margin-left: 550px;
    margin-top:40px;
}
.error{
    color: red;
}
.success{
    color: #33BB44;
}
.form_item{
    height: 54px;
    color: #666666;
    border: solid 1px #ddd;
    border-color: rgb(153, 153, 153);
}
.form_item label{
    float: left;
    width: 87px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 14px;
}
.form_item input{
    color: #666666;
    outline: 0;
    border: 0 none;
    font-size: 14px;
    width: 190px;
    height: 19px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-top: 16px;
}
.form_item input::-webkit-input-placeholder{
    color: #999999;
}
.choice{
    height: 54px;
    width: 290px;
    float: left;
}
.sex{
    width: 140px;
}
#chk_sex1{
    height: 19px;
    margin-top: 17px;
    width: 30px;
    float: left;
}
#chk_sex2{
    height: 19px;
    margin-top: 17px;
    width: 30px;
    float: left;
}

.sex_tag{
    margin-top: 14px;
    font-size: 14px;
}
.input_tip{
    margin-top: 8px;
    height: 32px;
    color: #C5C5C5;
}
.input_tip span i {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin-right: 8px;
}
.input_tip .i-def {
    background-image: url("../images/register/icon.png");
    background-repeat: no-repeat;
    background-position: 0 -100px;
}
.form_button{
    height: 54px;
    background-color: #c81623;
}

#chk_card{
    width: 220px;
}
#chk_button{
    outline: 0;
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    background: #e2231a;
    border: 0;
    font-size: 16px;
    cursor: pointer
}
/*成功页面*/

#chk_over{
    width: 810px;
    height: 220px;
    margin: 50px 350px 0;
    display: none;
}

#success_msg{
    height: 155px;
    margin: 0 0 30px;
}
#success_msg .success_tag{
    margin: 60px auto 10px;
    display: block;
    height: 56px;
    width: 56px;
    background: url("../images/register/icon-complete.png") no-repeat;
}
#success_msg .mt{
    font-size: 22px;
    color: #333;
    text-align: center;
    line-height: 40px;
}
#success_msg .mm{
    text-align: center;
    font-size: 16px;
    color: #999;
    line-height: 26px;
}

#go_continue{
    height: 54px;
    margin: 20px 0 20px;
    text-align: center;
}
#btn{
    width: 160px;
    height: 52px;
    outline: 0;
    border: 1px solid #ee2223;
    background: #ee2223;
    font-size: 19px;
    color: #fefefe;
}
#abtn{
    display: inline-block;
    line-height: 52px;
    width: 160px;
    height: 54px;
    color: #fefefe;
}

/*底部*/
#chk_foot{
    font-size: 12px;
    text-align: center;
    border-top: solid 1px #e6e6e6;
    color: #999;
    padding-bottom: 30px;
    width: 1210px;
    margin: 170px 155px 0 155px;
}
#links{
    padding-top: 30px;
    padding-bottom: 15px;
}
#links a{
    font-size: 12px;
    text-align: center;
    color: #999;
    margin: 0 10px;
}